// timeline.component.scss
.timeline-container {
  width: 100%;
  max-width: 600px;
  max-height: 63vh;
  margin-bottom: 20px;
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 3px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }

  .tweets {
    margin-top: 20px;
    overflow-x: hidden;
  }
  .tweet {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    .profile-pic {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }

    .tweet-content {
      flex: 1;

      .username {
        font-weight: bold;
      }

      .timestamp {
        color: #657786;
        font-size: 14px;
      }

      .tweet-text {
        margin-top: 5px;
        font-size: 16px;
      }
    }

    .actions {
      display: flex;
      gap: 15px;

      .action-icon {
        width: 24px;
        height: 24px;
        cursor: pointer;
        color: #657786;
        transition: color 0.3s ease-in-out;

        &:hover {
          color: #1da1f2;
        }
      }
    }
  }
}

.pagination-buttons {
  padding-right: 15px;
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
  gap: 10px;
}

.prev-button,
.next-button {
  background-color: #1da1f2;
  color: #fff;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;

  &:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 14px;
    margin-right: 5px;
  }
}

.prev-button:before {
  content: "\f060";
}

.next-button:before {
  content: "\f061";
}

.prev-button:hover,
.next-button:hover {
  background-color: #0f81c7;
}

.prev-button:disabled,
.next-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.prev-button:hover:before,
.next-button:hover:before {
  color: #fff;
}

.prev-button:disabled:before,
.next-button:disabled:before {
  color: #ccc;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.loader {
  border: 4px solid rgba(0, 0, 0, 0.3);
  border-top: 4px solid #007bff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
