// Variables
$twitter-blue: #1da1f2;
$twitter-blue-dark: #0f81c7;
$delete-red: #e0245e;


// Main Styles
.timeline-container {
  width: 100%;
  max-width: 600px;
  max-height: 73vh;
  margin-bottom: 20px;
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 3px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
}

.tweet {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.tweet-content {
  flex: 1;
  margin-right: 20px;
}

.username {
  font-weight: bold;
}

.timestamp {
  color: #657786;
  font-size: 14px;
}

.tweet-text {
  margin-top: 5px;
  font-size: 16px;
  word-break: break-all;
  hyphens: auto;

  .hashtag-mention {
    color: $twitter-blue;
    text-decoration: none;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: $twitter-blue-dark;
    }
  }
}

.actions {
  display: flex;
  gap: 15px;
}

.action-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  color: #657786;
  transition: color 0.3s ease-in-out;

  &:hover {
    color: $twitter-blue;
  }

  &.fa-trash:hover {
    color: $delete-red;
  }
}

.tweet-upper-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.load-more-animation {
  text-align: center;

  .loading-dots {
    display: inline-block;

    div {
      width: 8px;
      height: 8px;
      margin: 0 4px;
      background-color: $twitter-blue;
      border-radius: 50%;
      display: inline-block;
      animation: loading-wave 1.2s infinite;

      &:nth-child(1) {
        animation-delay: -0.24s;
      }

      &:nth-child(2) {
        animation-delay: -0.12s;
      }

      &:nth-child(3) {
        animation-delay: 0s;
      }

      &:nth-child(4) {
        animation-delay: 0.12s;
      }
    }
  }
}

@keyframes loading-wave {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}

.app-loader-container {
  height: 64vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
