<div *ngIf="isLoading" class="app-loader-container">
  <app-loader></app-loader>
</div>
<div *ngIf="!isLoading" class="my-tweets-container">
  <div class="tweet" *ngFor="let tweetObj of tweets">
    <img src="assets/pp.png" alt="Profile Pic" class="profile-pic" />
    <div class="tweet-content">
      <div class="tweet-upper-row">
        <div>
          <div class="username">
            {{ tweetObj.user.username | truncate : 30 }}
          </div>
          <div class="timestamp">
            {{ utilityService.getTimeSincePublished(tweetObj.published) }}
          </div>
        </div>
        <div>
          <div class="actions">
            <i class="action-icon far fa-comment"></i>
            <i class="action-icon fa fa-retweet"></i>
            <i class="action-icon far fa-heart"></i>
          </div>
        </div>
      </div>
      <div class="tweet-text">{{ tweetObj.content }}</div>
    </div>
  </div>
</div>
<div *ngIf="tweets.length && !isLoading" class="pagination-buttons">
  <button
    class="prev-button"
    [disabled]="isPrevButtonDisabled()"
    (click)="onPrevClick()"
  ></button>
  <button
    class="next-button"
    [disabled]="isNextButtonDisabled()"
    (click)="onNextClick()"
  ></button>
</div>
