<div class="auth-container">
  <div class="login-wrapper">
    <div class="logo">
      <img src="assets/twitter.png" alt="Twitter Logo">
    </div>
    <h2 class="login-title">Log in to Twitter</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" formControlName="email" autocomplete="off">
        <div *ngIf="isFieldInvalid('email') && loginForm.get('email').errors['required']" class="error-message">
          Please enter an email address.
        </div>
        <div *ngIf="isFieldInvalid('email') && loginForm.get('email').errors['email']" class="error-message">
          Please enter a valid email address.
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" formControlName="password" autocomplete="off">
        <div *ngIf="isFieldInvalid('password')" class="error-message">
          Please enter a password.
        </div>
      </div>
      <button type="submit" [disabled]="loginForm.invalid || isLoggingIn">
        {{ isLoggingIn ? '' : 'Log In' }}
        <app-loader style="--spinner-size: 22px;" *ngIf="isLoggingIn"></app-loader>
      </button>
    </form>
    <!-- <div class="forgot-password">
      <a href="#">Forgot password?</a>
    </div> -->
    <div class="separator">
      <span>or</span>
    </div>
    <div class="signup-link">
      <span>New to Twitter?</span>
      <a class="signup-button" (click)="navigateToRegister()">Sign up now</a>
    </div>
  </div>
</div>
